*{
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: initial;
}

li {
    list-style-type: none;
}

body{
    background: white;
    background-image: url('images/bg1-img.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-family: cursive, sen-serif;
    font-size: 18;
    margin: 0 auto;
}

header{
    background: rgb(225, 225, 0);
    width: 100%;
    height: 4rem;
    color: #000;
    position: sticky;
    z-index: 1000;
    top: 0;
}

.logo {
    float: left;
    font-size: 34px;
    font-family: cursive;
    transform: rotate(10deg);
    color: #000;
    margin-left: 10px;
}

.logo:hover {
    transform: rotate(-5deg);
    color: #fff;
    transition: .3s ease-in-out;
}

header nav{
    display: flex;
    margin-right: 2em;
    float: right;
}

header li{
    display: inline-flex;
    text-align: right;
}

header li a{
    font-size: 1.1rem;
    margin: 1rem 1rem 0 1rem;
    font-weight: bold;
}

header li a:hover {
    color: white;
    transition: .4s ease-in-out .4s;
    font-size: 24px;
    
}

main {
    width: 98%;
    height: auto;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "img1"
    "img2"
    "img3";
}

/* ---- figure 1 -----*/
.img1{
    grid-area: 'img1';
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "caption1 pic1";
}

.img1 .img1-wrapper{
    grid-area: 'pic1';
}

.img1 figcaption {
    grid-area: 'caption1';
}

/* ---- figure 2 -----*/

.img2{
    grid-area: 'img2';
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "pic2 caption2";
}

.img2 .img2-wrapper{
    grid-area: 'pic2';
}

.img2 figcaption {
    grid-area: 'caption2';
}

/* ---- figure 3 -----*/

.img3{
    grid-area: 'img3';
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "caption3 pic3";
}

.img3 .img3-wrapper{
    grid-area: 'pic3';
}

.img3 figcaption {
    grid-area: 'caption3';
}

/*----- for each figure -----*/
figure{
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-content: center;
    vertical-align: middle;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

figure img{
    width: 85%;
    height: 250px;
    transform: rotate(10deg);
}

figure img:hover {
    transform: rotate(-10deg);
    border: 1px solid #000;
    transition: 5ms ease-in-out 5ms;
}

.img2 img {
    transform: rotate(-10deg);
}

.img2 img {
    transform: rotate(10deg);
}
figure img:hover {
    transition: .5s ease-out;
}

figure figcaption {
    color: #000;
    font-size: 18px;
    margin-top: 3rem;
    text-align: left;
}

/*------ Footer ------*/

footer {
    width: 100%;
    color: #000;
    margin-top: 2rem;
}

footer nav {
    display: flex;
    margin-right: 2em;
    text-align: center;
    justify-content: center;			
}

footer li{
    padding: 1rem;
    display: inline-flex;
    margin-left: 2rem;
}

footer a {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

footer a:hover {
    color: #fff;
    transition: .3s ease-in-out;
}

hr {
    color: #fff;
}

footer p{
    text-align: center;
    font-size: 14px;
}